nav{
    background: rgba(0,0,0,0.4);
    width: max-content;
    display: block;
    padding: 0.1rem 1.5rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
    display: flex;
    gap: 0.8rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);
}
nav a{
    background: transparent;
    color: #ffffff;
    padding: 0.9rem;
    display: flex;
    font-size: 1.2rem;
}
nav a:hover{
    color: rgb(173, 255, 42);
}
.active{
    color: rgb(255, 237, 36);
}